## Övningar lektion 2
- list
- tuple
- set
- dictionary
- iterations (for & while)
- funktioner
- I/O

### Länkar
* w3schools info om ovanståend: https://www.w3schools.com/python/python_reference.asp
* om fibonacci: https://sv.wikipedia.org/wiki/Fibonaccital

### Iterationer

#### a)
Skriv ut alla udda nummer mellan 0 och 26. Använd en for-loop och modulus oparatorn.

#### b)
Skriv ett program som kollar om givet tal är ett **primtal** eller ej och ger feedback på detta. T.ex. "9 är inte ett primtal." 
Tips: Primtal är tal som är delbara endast med 1 och sig själva. Använd dig av *if...else* och *for-loop*.

#### c)
Modifiera ovanstående program för att även ge information på varför det inte är ett primtal. 

T.ex "9 är inte ett primtal" 

"Produkten av 3 x 3 blir 9"

##### Tips
- Primtal är tal som är delbara endast med 1 och sig själva. 
- Använd dig av en flagga, if...else och/eller for-loop.
- for-loopen kan även vara en for...else

#### d)
Skriv en funktion som tar in ett tal som argument och skriver ut Fibonacci sekvensen i den längd som argumentet anger. T.ex. tal = 4 skulle ge [0, 1, 1, 2]

Om fibonacci sekvensen: De första termerna är 0 och 1, följande får man genom att lägga ihop de två föregående siffrorna. Dvs. termen n är summan av termerna (n-1) och (n-2).

#### e)


- Skapa en lista med frukter, minst 10 st. Skriv ut all frukter, använd dig av print() och for loop. Se till att det blir snyggt

- Lägg till en eller flera frukter. Skriv ut alla frukter med print och for loop så att det skrivs ut som exemplet nedan (med siffrorna).

1. Äpple
2. Annanas
3. Persika

#### While

Skriv om uppgifterna **a-e**  med en while loop istället. Går det, tycker du?

### Funktioner

#### a) Miniräknare
Skriv ett miniprogram som tar emot en siffra, en matematisk operation och en siffra till. Dubbelkolla att operatorn är giltig, skriv ett meddelande om den inte är det. Skriv ut meddelanden och resultatet på ett fint sätt. 
T.ex. 
- Enter a first number:
- Enter a operation:
- Enter a second number:
- *num1* *operation* *num2* = *answer*

Tips:
* Skriv enskilda funktioner för varje operation
* Använd nyckelordet **in** for att kolla om operatorn är giltig.

#### b)
Modifiera Miniräknaren så att efter att resultatet visas frågar du om användaren vill räkna ut något annat och tillåter ett "yes", "no" svar som antingen fortsätter eller avslutar.

#### c)
Fundera på vilka delar (förutom operationerna) du kan flytta ut i enskilda funktioner och implementera det. Blev det bättre eller sämre?

### Collections

#### Dictionaries
Skapa två dictionaries, en med frukter (str) och en med platser (str), bägge med siffror som nycklar (keys) som börjar med **1**.

##### a)
Skapa en ny dictionary och lägg innehållet av dicts ovan däri. Skriv ut resultatet. Vad hände med nycklarna?

##### b) 
Ändra nycklarna i dict med platser och upprepa **a)**.

##### c) 
Kan du upprepa **a** men lägga samman dem på något annat sätt? Titta på de inbyggda metoderna i dictionary.

##### d) 
Skriv ut elementen (values) och nyklar (keys) för sig. 

T.ex. 
Element:
Päron
Plommon
Physilys
Philladelphia
Paris
Puerto Rico

Nycklar:
1
2
3
4
5
5

#### e)
* Ändra ett element i en av de dict. du skapade tidigare.
* Lägg till ett nytt key-value par.

### Lists

#### a)
Skapa en lista med minst 10 element. T.ex: 10 länder eller siffor. 
Skriv ut resultatet.

#### b)
- Använd notationen med **:** (kolon) för att få fram de tre första elementen. 
- Använd samma notation som i **b** för att få fram det näst sista elementet.

#### c)
* Lägg till ett nytt element till listan. Skriv ut resultatet.
* Skapa en ny lista med 3 nya element och lägg till den till den första listan. Skriv ut.

#### d) 
Dela listan på mitten och lägg elementen i två nya listor. Använd dig av **len()** och en (eller flera) loopar.

#### e)
Skapa en funktion som tar emot en lista av heltal som ett argument och sedan skriver ut innehållet med ett index:

1. 343
2. 8954
3. 532
4. 78953

#### f)
* Upprepa **e** men ta emot en lista med en blanding av datatyper. 
* Upprepa **e** men ta emot ett heltal *x* och skapa sedan en lista med värden från 0 till *x* genom att använda dig av funktionen range().
* Upprepa **e** men använd dig av *enumerate*. Observera att enumerate returnerar en tuple med position i listan och värdet.

#### g)
saker = ['kudde', 'lampa', 'cykel', 'banan', 'vatten']

Lägg till elementet 'karusell' mellan *cykel* och *banan*.

### Tuple

#### a)
Skapa en tuple från en lista, str och dictionary. Använd dig av konstruktorn tuple() och skriv ut varje typ av tuple. Fungerade de alla som du förväntade dig?

#### b)
* Skapa en tuple med vokaler och använd dig av den inbyggda tuple.index() funktionen för att se vilket indexvärde några utav bokstäverna har.
* Kolla vad du får när du kollar indexvärdet för bokstaven 'k' (som inte finns med).

#### c) 
Kolla på hur index funktionen fungerar genom *help(tuple)*. Lägg till några fler bokstäver och se till att några upprepar sig. Ta reda på indexvärdet på en bokstav som upprepar sig. Får du upp alla dess index?

#### d) 
Använd dig av index() metodens fulla funktionalitet för att hitta index för bokstäverna som upprepas

#### e)
Använd den inbyggda funktionen *count()* för att räkna hur många gånger varje bokstav upprepas.

#### f)
Titta på modulen **collections:namedtuple** (https://docs.python.org/3/library/collections.html#collections.namedtuple) och skapa en named tuple som har värdena *(Namn, ålder)* döp den till *Person*. Skapa en ny variabel av den här typen och fyll den med värdena 'Jonny' och 55. 
*

### Dictionaries

#### a) 
Skapa en lista med namn (minst fem). 
Skapa en dictionary och med hjälp av en loop, fyll den med elementen i listan. Nycklar kan vara siffror. Skriv ut resultatet genom att använda dig av *print(dictionary)*.

#### b)
* Lägg till ett namn. 
* Ändra det tredje namnet till *Billybob*
* Skriv endast ut namnen (*values*) och inte nycklarna (*keys*)

#### c)
Skapa en dictionary med åldrar. Låt nycklarna vara siffror igen.

#### d)
Skapa en ny dictionary där du använder de andra två för att ha ett *key-value* par som är *'Namn'- ålder* (t.ex. {'Maria': 23, 'Bob':57}.

#### e) 
Radera ett namn från dictionaryn.

### Sets

### Input/ Output