In [ ]:
"Iterationer"

In [ ]:
"""a)
Skriv ut alla udda nummer mellan 0 och 26. Använd en for-loop och modulus oparatorn."""

for i in range(26):
    if i % 2 != 0:
        print(i)

In [ ]:
"""b)
Skriv ett program som kollar om givet tal är ett primtal eller ej och ger feedback på detta. T.ex. "9 är inte ett primtal.
" Tips: Primtal är tal som är delbara endast med 1 och sig själva. Använd dig av if...else och for-loop."""
n = int(input("Skriv ett tal!: "))
def primtal(tal):
    for i in range(2, tal-1):
        if (tal%i == 0):
            print(str(tal) + " är inte ett primtal!")
            break
    else:
        print (tal, "är ett primtal!")

primtal(n)

In [ ]:
"""c)¶
Modifiera ovanstående program för att även ge information på varför det inte är ett primtal.

T.ex "9 är inte ett primtal"

"Produkten av 3 x 3 blir 9"

Tips
Primtal är tal som är delbara endast med 1 och sig själva.
Använd dig av en flagga, if...else och/eller for-loop.
for-loopen kan även vara en for...else"""

In [ ]:
n = int(input("Skriv ett tal!: "))
def primtal(tal):
    for i in range(2, tal-1):
        if (tal%i == 0):
            print(str(tal) + " är inte ett primtal! Eftersom " + str(tal) + " är delbar med " + str(i))
            break
    else:
        print (tal, "är ett primtal!")

primtal(n)

In [ ]:
"""
d)
Skriv en funktion som tar in ett tal som argument och skriver ut Fibonacci sekvensen i den längd som argumentet anger. T.ex. tal = 4 skulle ge [0, 1, 1, 2]

Om fibonacci sekvensen: De första termerna är 0 och 1, följande får man genom att lägga ihop de två föregående siffrorna. Dvs. termen n är summan av termerna (n-1) och (n-2).
"""

In [ ]:

n = int(input("Skriv ett tal!: "))
def fibonacci(l):
    tal1 = 0
    tal2 = 1
    tot = 0
    fibonaccilist =[]
    for i in range(l-1):
        if i == 0:
            fibonaccilist.append(tal1)
            fibonaccilist.append(tal2)
        else:
            tot =  tal1+tal2
            fibonaccilist.append(tot)
            tal1 = tal2
            tal2 = tot
            
    return fibonaccilist       
            
fibonacci(n)

In [ ]:
"""e)
Skapa en lista med frukter, minst 10 st. Skriv ut all frukter, använd dig av print() och for loop. Se till att det blir snyggt

Lägg till en eller flera frukter. Skriv ut alla frukter med print och for loop så att det skrivs ut som exemplet nedan (med siffrorna).

Äpple
Annanas
Persika
"""

In [ ]:
def frukt_list():
    frukter = []
    for i in range(10):
        n = str(input("skriv in en frukt i taget!"))
        frukter.append(n)
    for frukt in frukter:
        print(frukt)
        
frukt_list()

In [ ]:
"""While
Skriv om uppgifterna a-e med en while loop istället. Går det, tycker du?

Funktioner
a) Miniräknare
Skriv ett miniprogram som tar emot en siffra, en matematisk operation och en siffra till. Dubbelkolla att operatorn är giltig, 
skriv ett meddelande om den inte är det. Skriv ut meddelanden och resultatet på ett fint sätt. T.ex.

Enter a first number:
Enter a operation:
Enter a second number:
num1 operation num2 = answer
Tips:

Skriv enskilda funktioner för varje operation
"""

In [ ]:
def addition(tal1, tal2):
    print(str(tal1)+ " + " + str(tal2) + " = "+ str(tal1+tal2))
def subtraktion(tal1, tal2):
    print(str(tal1)+ " - " + str(tal2) + " = "+ str(tal1-tal2))
def multiplikation(tal1, tal2):
    print(str(tal1)+ " * " + str(tal2) + " = "+ str(tal1*tal2))
def divition(tal1,tal2):
    if tal1 != 0:
        print(str(tal1)+ " / " + str(tal2) + " = "+ str(tal1/tal2))
    else:
        print("Du försöker dividera med noll!")
def modolus(tal1,tal2):
    print(str(tal1)+ " % " + str(tal2) + " = "+ str(tal1%tal2))

operatorlist = {"+", "-", "*", "/", "%"}

def check_if_ok_op(operator):
    if operator in operatorlist:
        return True
    else:
        return False
    
def calculator(num1,operator, num2):
    num1 = int(input("Enter a first number:"))
    operator = str(input("Enter a operation:"))
    num2 = int(input("Enter a second number:"))
    
    if check_if_ok_op(operator) == True:
        if operator == "+":
             addition(num1,num2)
        elif operator == "-":
             subtraktion(num1,num2)
        elif operator == "*":
             multiplikation(num1,num2)
        elif operator == "/":
             divition(num1,num2)
        elif operator == "%":
             modolus(num1,num2)
    else:
        print("Operatorn " + operator + " är inte giltig")
calculator(num1,operator, num2)

In [ ]:
#b)
#Modifiera Miniräknaren så att efter att resultatet visas frågar du om användaren vill räkna ut något annat och tillåter ett "yes", "no" svar som antingen fortsätter eller avslutar.

In [1]:
def addition(tal1, tal2):
    print(str(tal1)+ " + " + str(tal2) + " = "+ str(tal1+tal2))
def subtraktion(tal1, tal2):
    print(str(tal1)+ " - " + str(tal2) + " = "+ str(tal1-tal2))
def multiplikation(tal1, tal2):
    print(str(tal1)+ " * " + str(tal2) + " = "+ str(tal1*tal2))
def divition(tal1,tal2):
    if tal1 != 0:
        print(str(tal1)+ " / " + str(tal2) + " = "+ str(tal1/tal2))
    else:
        print("Du försöker dividera med noll!")
def modolus(tal1,tal2):
    print(str(tal1)+ " % " + str(tal2) + " = "+ str(tal1%tal2))

operatorlist = {"+", "-", "*", "/", "%"}

def check_if_ok_op(operator):
    if operator in operatorlist:
        return True
    else:
        return False

num1 = int(input("Skriv in första talet:"))
operator = str(input("Skriv in operationstecken:"))
num2 = int(input("Skriv in andra talet:"))

def calculator(num1,operator, num2): 
    more = "Ja"
    while more == "Ja" or more == "ja":
        if check_if_ok_op(operator) == True:
            if operator == "+":
                addition(num1,num2)    
            elif operator == "-":
                subtraktion(num1,num2)  
            elif operator == "*":
                multiplikation(num1,num2)      
            elif operator == "/":
                divition(num1,num2)
            elif operator == "%":
                modolus(num1,num2)
        else:
            print("Operatorn " + operator + " är inte giltig") 
        more = str(input("vill räkna ut något annat? Svara Ja eller Nej"))
        if more == "Ja" or more == "ja":
            num1 = int(input("Skriv in första talet:"))
            operator = str(input("Skriv in operationstecken:"))
            num2 = int(input("Skriv in andra talet:"))
    else:
        print("Välkommen åter!")
        
calculator(num1,operator, num2)

Skriv in första talet: 7
Skriv in operationstecken: -
Skriv in andra talet: 7

7 - 7 = 0

vill räkna ut något annat? Svara Ja eller Nej nej

Välkommen åter!

In [4]:
### Collections¶
#Dictionaries
#Skapa två dictionaries, en med frukter (str) och en med platser (str), bägge med siffror som nycklar (keys) som börjar med 1.

frukter = {1:"Äpple", 2:"Citron", 3:"Kiwi"}
platser = {1:"Kristianstad", 2:"Hässleholm", 3:"Lund"}

#a)
#Skapa en ny dictionary och lägg innehållet av dicts ovan däri. Skriv ut resultatet. Vad hände med nycklarna?
tot = {1:frukter, 2:platser}

print(tot)

#b)
#Ändra nycklarna i dict med platser och upprepa a).
platser = {3:"Kristianstad", 2:"Hässleholm", 1:"Lund"}
tot = {1:frukter, 2:platser}
print(tot)
#c)
#Kan du upprepa a men lägga samman dem på något annat sätt? Titta på de inbyggda metoderna i dictionary.

#d)
#Skriv ut elementen (values) och nyklar (keys) för sig.
for key, value in tot.items():
    print(key, value)
    for k, v in value.items():
        print(k, v)
#T.ex. Element: Päron Plommon Physilys Philladelphia Paris Puerto Rico

#Nycklar: 1 2 3 4 5 5

#e)
#Ändra ett element i en av de dict. du skapade tidigare.
#Lägg till ett nytt key-value par.
tot[3]= "totati"

tot

{1: {1: 'Äpple', 2: 'Citron', 3: 'Kiwi'}, 2: {1: 'Kristianstad', 2: 'Hässleholm', 3: 'Lund'}}
{1: {1: 'Äpple', 2: 'Citron', 3: 'Kiwi'}, 2: {3: 'Kristianstad', 2: 'Hässleholm', 1: 'Lund'}}
1 {1: 'Äpple', 2: 'Citron', 3: 'Kiwi'}
1 Äpple
2 Citron
3 Kiwi
2 {3: 'Kristianstad', 2: 'Hässleholm', 1: 'Lund'}
3 Kristianstad
2 Hässleholm
1 Lund

{1: {1: 'Äpple', 2: 'Citron', 3: 'Kiwi'},
 2: {3: 'Kristianstad', 2: 'Hässleholm', 1: 'Lund'},
 3: 'totati'}

In [ ]:
"""Lists
a)
Skapa en lista med minst 10 element. T.ex: 10 länder eller siffor. Skriv ut resultatet.

b)
Använd notationen med : (kolon) för att få fram de tre första elementen.
Använd samma notation som i b för att få fram det näst sista elementet.
c)
Lägg till ett nytt element till listan. Skriv ut resultatet.
Skapa en ny lista med 3 nya element och lägg till den till den första listan. Skriv ut.
d)
Dela listan på mitten och lägg elementen i två nya listor. Använd dig av len() och en (eller flera) loopar.

e)
Skapa en funktion som tar emot en lista av heltal som ett argument och sedan skriver ut innehållet med ett index:

343
8954
532
78953
f)
Upprepa e men ta emot en lista med en blanding av datatyper.
Upprepa e men ta emot ett heltal x och skapa sedan en lista med värden från 0 till x genom att använda dig av funktionen range().
Upprepa e men använd dig av enumerate. Observera att enumerate returnerar en tuple med position i listan och värdet.
g)
saker = ['kudde', 'lampa', 'cykel', 'banan', 'vatten']

Lägg till elementet 'karusell' mellan cykel och banan."""

"a)\nSkapa en lista med minst 10 element. T.ex: 10 länder eller siffor. Skriv ut resultatet.\n\nb)\nAnvänd notationen med : (kolon) för att få fram de tre första elementen.\nAnvänd samma notation som i b för att få fram det näst sista elementet.\nc)\nLägg till ett nytt element till listan. Skriv ut resultatet.\nSkapa en ny lista med 3 nya element och lägg till den till den första listan. Skriv ut.\nd)\nDela listan på mitten och lägg elementen i två nya listor. Använd dig av len() och en (eller flera) loopar.\n\ne)\nSkapa en funktion som tar emot en lista av heltal som ett argument och sedan skriver ut innehållet med ett index:\n\n343\n8954\n532\n78953\nf)\nUpprepa e men ta emot en lista med en blanding av datatyper.\nUpprepa e men ta emot ett heltal x och skapa sedan en lista med värden från 0 till x genom att använda dig av funktionen range().\nUpprepa e men använd dig av enumerate. Observera att enumerate returnerar en tuple med position i listan och värdet.\ng)\nsaker = ['kudde', 'lampa', 'cykel', 'banan', 'vatten']\n\nLägg till elementet 'karusell' mellan cykel och banan."

In [43]:
###a)Skapa en lista med minst 10 element. T.ex: 10 länder eller siffor. Skriv ut resultatet.


lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
type(lista)

list

In [44]:
###b)Använd notationen med : (kolon) för att få fram de tre första elementen. Använd samma notation som i b för att få fram det näst sista elementet.

lista[0:3]

lista[8:9]

[9]

In [31]:
###c) Lägg till ett nytt element till listan. Skriv ut resultatet. Skapa en ny lista med 3 nya element och lägg till den till den första listan. Skriv ut.

lista.append(11)
lista

lista2 = [12, 13 ,14]

lista + lista2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [45]:
#d)Dela listan på mitten och lägg elementen i två nya listor. Använd dig av len() och en (eller flera) loopar.

lista3 = lista[0:5]

In [46]:
lista3

[1, 2, 3, 4, 5]

In [47]:
lista4 = lista[5:10]

In [48]:
lista4

[6, 7, 8, 9, 10]

In [8]:
lista3.append(44)
lista3.append(55)
lista = lista3+lista4

In [57]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
for element in range(len(lista3)):
    print(element)
    if element == 4:
        lista3.append(88)
        lista3.append(99)

0
1
2
3
4

In [50]:
lista3

[1, 2, 3, 4, 5, 88, 99]

In [53]:
for element in range(len(lista4)):
    print(element)
    if element == 4:
        lista4.append(888)
        lista4.append(999)

0
1
2
3
4

In [54]:
lista4

[6, 7, 8, 9, 10, 888, 999]

In [9]:
"""e)
Skapa en funktion som tar emot en lista av heltal som ett argument och sedan skriver ut innehållet med ett index:

343
8954
532
78953"""


lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def foo(arg):
    for a in arg:
        print(a)
    
foo(lista)

1
2
3
4
5
6
7
8
9
10

In [17]:
""" f)
Upprepa e men ta emot en lista med en blanding av datatyper.
Upprepa e men ta emot ett heltal x och skapa sedan en lista med värden från 0 till x genom att använda dig av funktionen range().
Upprepa e men använd dig av enumerate. Observera att enumerate returnerar en tuple med position i listan och värdet."""
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def foo(arg):
    for count, a in enumerate(arg):
        di.append([count:a])
foo(lista)

SyntaxError: invalid syntax (408354624.py, line 8)